body {
  color: #f2f2f2;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 0 0 1rem 0;
}

select {
  padding: 0.5rem 1rem;
  display: inherit;
  justify-content: center;
}

.app {
  padding: 3rem 0 0 0;
  text-align: center;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.result {
  padding: 1rem;
  background-color: #e64a19;
  font-weight: 700;
  font-size: 1.2rem;
}
